<% @users.each do |u| %>

  <span class= "mx-3" ><%= u.name %></span>
  <span class= "mr-1" ><%= image_tag u.image,size: "30x30",class: "rounded-circle" %></span>
  <%= link_to "登録",team_user_memberships_path(team_id: @team.id,user_id: u.id) ,method: :post %>
  <%= link_to "解除",team_user_membership_path(team_id: @team.id,user_id: u.id,id: 1), method: :delete  %>
<% end %>
