= form.label :team_id
= select :team_id, :name, team_id_options, { prompt: true }, id: 'select_team'

= form.label :category_id, class: 'ml-3'
= form.collection_select :category_id, [], :id, :name, { prompt: true },
 id: 'select_category'
